# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on: 
  workflow_dispatch:
    inputs:
      run-id:
        required: true
        description: 'The run-id of the ci pipeline to download the nuget package from'
   
jobs:
  download:
    runs-on: ubuntu-latest
    steps:
      - name: Download nuget package
        uses: actions/download-artifact@v4.1.5
        with:
          # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
          name: Productive.Modulith.1.0.0.nupkg
          github-token: ${{ secrets.modulith_actions }}
          run-id: ${{ inputs.run-id }}
          
          
