# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        template: 
          - working-dir: modulith
            project: Modulith.sln
          - working-dir: modulith-proj
            project: NewModule/Modulith.NewModule
          - working-dir: modulith-proj
            project: NewModule/Modulith.NewModule.Contracts
          - working-dir: modulith-proj
            project: NewModule/Modulith.NewModule.Tests
  
    name: 'Build project source: ${{ matrix.template.working-dir }}'
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      working-directory: working/content/${{ matrix.template.working-dir }}
      run: dotnet restore ${{ matrix.template.project }}
    - name: Build
      working-directory: working/content/${{ matrix.template.working-dir }}
      run: dotnet build ${{ matrix.template.project }} --no-restore
    - name: Test
      working-directory: working/content/${{ matrix.template.working-dir }}
      run: dotnet test ${{ matrix.template.project }} --no-build --verbosity normal
      
  install:
    name: 'Install template'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install
        working-directory: working
        run: dotnet new install .
        
      - name: Instance solution
        working-directory: test
        run: dotnet new modulith -n eShop --with-module Payments 
        
      - name: Instance project
        working-directory: test/eShop
        run: dotnet new modulith -n eShop --with-module Payments 
        
      - name: Restore
        working-directory: test/eShop
        run: dotnet restore

      - name: Build
        working-directory: test/eShop
        run: dotnet build --no-restore

      - name: Test
        working-directory: test/eShop
        run: dotnet test --no-build --verbosity normal